services:
  - type: web
    name: hostizzy-backend
    env: node
    buildCommand: npm install
    startCommand: node server/server.js
    envVars:
      - key: PORT
        value: 10000
    autoDeploy: false
